.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
    font-family: sans-serif;
    cursor: pointer;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
}

input {
    width: 320px;
    height: 38px;
    padding: 5px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #adcaf7;
    border: 1px solid rgba(153, 163, 175, 0.6);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box; /* Ensure padding and border don't affect the total width */
}

.box-QR {
    margin-top: 20px;
  
}

.input-box {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
    padding: 20px;
    margin-top: 30px;
 
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

/* Media Queries for responsiveness */

@media only screen and (max-width: 600px) {
    .input-box {
        padding: 10px;
    }
}
@media only screen and (max-width: 300px) {
    input {
        width: 200px;
    }
}
@media only screen and (max-width: 250px) {
    .input-box {
        width: 306px;
    }
}
